* {
    margin: 0;
    box-sizing:border-box
}

body {
    background-color: #3476ff;
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    position: absolute;
}

.contact {
    margin-right: 5px;
}
.info-block{
    display: flex;
}
.about-me {
    width: 640px;
    height: 250px;
    margin-top: 220px;
    margin-left: 30px;
    background-color: dimgray;
    line-height: 2;
}
.about-me-text{
    margin-left: 30px;
}
.about-me-title{
    margin-left: 30px;
}
.my-photo {
    margin-top: 30px;
}

header {
    display: flex;
    justify-content: center;
}

.name {
    position: absolute;
    margin-top: 3rem;
}

h2 {
    position: absolute;
    margin-top: 6rem;
}

a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #3476ff;
}
.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {width: 60%; background-color: #4CAF50;}
.css {width: 60%; background-color: #2196F3;}
.js {width: 90%; background-color: brown}
.nodejs {width: 90%; background-color: #808080;}
.react {width: 70%; background-color: #4CAF50;}
.mongodb {width: 95%; background-color: indigo;}
.sql {width: 95%; background-color: lightblue;}
